<div class="sidebar d-flex flex-column bg-dark text-white p-3" style="height: 100vh;">
  <!-- Logo and Home link -->
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <img src="img/logo_wallet.png" alt="Logo" class="fs-4">
  </a>
  <hr>

  <!-- Navigation Links -->
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a href="/dash" class="nav-link text-white" routerLinkActive="active">
        <i class="bi bi-house-door me-2"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/budget" class="nav-link text-white">
        <i class="bi bi-wallet2 me-2"></i>
        Budget
      </a>
    </li>
    <li>
      <a href="/expense" class="nav-link text-white">
        <i class="bi bi-briefcase me-2"></i>
        Expenses
      </a>
    </li>
  </ul>
  <hr>
</div>
